html, body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding: 5px;
}

header {
    padding: 0;
    margin: 0;
    height: 100vh;
    vertical-align: middle;
}

header article{
    margin: 50% 0;
    padding: 0;

}

div#logo img {
    border-radius: 50%;
    padding: none;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
section#title {
    text-align: center;
}
section#tags {
    text-align: center;
}
section#tags ul, nav ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0;
}

section#tags ul li {
    width : 30%;
    
}
section#tags ul li i {
    color: #588041;
} 
section#tags ul li,
nav ul li {
    list-style: none;
}

i {
    display: inline;
    margin: auto;
    padding: 0.2em;
}
nav {
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul {
    font-size: 0.8em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none;
    margin: 5px auto;
}

nav ul li {
    padding: 0.3em;
    background-color: #588041;
    
}
nav ul li a {
    text-decoration: none;
    color: #E0FFCF;
}
 h2 {
     font-size: 1.2em;
     color: #588041;
 }
 h4 {
     font-size: 1em;
 }

 ul li {
    list-style-type: none;
 }
span.date {
    font-size: 0.8em;
}
label {
    display: block;
}

input, textarea {
    display: block;
    width: 80%;

}

button {
    margin: 0.5em 0;
}

textarea {
    
    resize: none;
    overflow: auto;
}

footer ul {
    display: flex;
    flex-flow: wrap;
    width: 90%;
    padding: 0;
    text-align: center;
}

footer ul li {
    width: 25%;
    text-align: center;
}