:root {
    font-size: 100%;
}

nav {
    display: inline-block;
    grid-auto-columns: 100%;
    background-color: coral;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:nth-child(1){
    text-align: left;
}



article#home,
article#projects,
article#education,
article#volunteer,
article#experience,
article#contact {
    padding: 5vh;
    width: 100vw;
    height: 95vh;
 
}

article h1 {
    text-align: center;
    margin: 0 auto;
}