html, body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

header article{
    margin: 50% 0;
    padding: 0;

}

div#logo img {
    border-radius: 50%;
    padding: none;
    width: 100px;

}

div#name q {
    font-size: 10px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
section#title {
    text-align: center;
}
section#tags {
    text-align: center;
}
section#tags ul, nav ul {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 0;
}

section#tags ul li {
    width : 30%;
    
}
section#tags ul li i {
    color: #588041;
} 
section#tags ul li,


i {
    display: inline;
    margin: auto;
    padding: 0.2em;
}
nav {
    padding: 0;
    margin: 0  auto;
    text-align: center;
    background-color: #588041;
    position: fixed;
    top: 0px;
    width: 100vw;
    cursor: pointer;
}
nav ul {
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-flow: wrap;
}

nav ul li {
    padding: 5px;
    background-color: #588041;
    color: white;
    text-align: center;
    border: 2px solid white;
    margin: 0.1em;
    
}

 h2 {
     font-size: 1.2em;
     color: #588041;
 }
 h4 {
     font-size: 1em;
 }

 ul li {
    list-style-type: none;
 }
span.date {
    font-size: 0.8em;
}
label {
    display: block;
}

input, textarea {
    display: block;
    width: 80%;

}

button {
    margin: 0.5em 0;
}

textarea {
    
    resize: none;
    overflow: auto;
}

footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: row;
    background-color: #588041;
    width: 100vw;
    padding: 0.3em;
}
footer address {
    text-align: left;
    font-size: 0.5em;
}

footer button {
    text-align: right;

}

footer button a {
    text-decoration: none;
}
footer address,
footer div {
    width: 50vw;
}

[data-section-content],
article {
    display: none;
    
   
    padding:0;
    margin: 0;
}
article#home {
   
}
.active[data-section-content] {
    display: block;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
    height: 90vh;
    width: 100vw;
}

input, textarea {
    border: 1px solid #588041;
}