html,
body {
    font-family: 'montserrat';
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #08497F;
}

body {
    width: 100%;
    max-width: 960px;

}

header {
    padding: 0;
    margin: 0;
}



h1 {
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
}

section#title {
    display: grid;
    place-items: center;
    vertical-align: middle;
}


section#title,
section#tags {
    margin-top: 50px;
}

div#name {
    vertical-align: middle;

}

div#name span {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
    font-size: 10px;
    text-align: left;
    max-width: 600px;
    font-size: 1.8rem;
}


div#messageme a {
    text-decoration: none;
}

section#title {
    text-align: center;
    padding: 10px;
}

section#tags {
    text-align: center;
}

section#tags ul {
    display: flex;
    list-style-type: none;
    max-width: 500px;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 10px auto;
    padding: 5px;
}




section#tags ul li i {
    font-size: 1.2em;

}

section#tags ul li {
    display: flex;
    margin: auto;
    padding: 0.2em;
}

div.skills,
div.contact,
div.experience {
    margin: 0 auto;
    padding: 10px;
}

nav {
    padding: 0;
    margin: 0 auto;
    line-height: 20px;
    position: fixed;
    top: 0px;
    width: 100vw;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
}

nav ul {
    list-style-type: none;
    padding: 0 5px;
    display: block;

}

nav ul span {
    float: right;
}

nav ul span::after {
    clear: both;
}




nav ul li {
    padding: 5px;
    display: inline;
    color: #08497F;
    text-align: center;
    list-style-type: none;
    font-weight: 500;

}

nav ul li img {
    width: 20px;
    vertical-align: middle;
    border-radius: 20%;
}


nav ul li img:hover {
    width: 30px;
}

nav ul li:hover {
    font-size: 125%;

}

a {
    text-decoration: none;
}

i {
    padding: 5px;
}

p.techskill {
    font-size: 2.5em;
}

p.techskill i.fa-html5 {
    color: #F16529;
}

.fa-css3 {
    color: #264de4;
}

.fa-js {
    color: #323330;
    background-color: #F0DB4F;
    padding: 0;
}

.fa-node-js {
    color: #3C873A;
}

.fa-angular {
    color: #B52E31;
}

.fa-git {
    color: #f34f29;
}

.fa-whatsapp {
    color: #4FCE5D;
}

.fa-twitter {
    color: #00acee;
}

.fa-envelope {
    color: red;
}

.fa-mobile-alt {
    color: black;
}

.fa-map-marker-alt {
    color: red;
}

section#tags ul li i.fa-github {
    color: #211F1F;
}

section#tags ul li i.fa-stack-overflow {
    color: #F48024
}

section#tags ul li i.fa-linkedin {
    color: #0e76a8;
}

span.date {
    font-size: 0.8em;
}

label {
    display: block;
}



button {
    margin: 0.5em 0;
}


footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-flow: row;
    background-color: #08497F;
    width: 100vw;
    justify-content: space-between;
    color: white;
    font-size: 0.8em;
}

footer span {
    text-decoration: none;
    color: white;
    padding: 2px;


}

footer button {
    background-color: white;
    color: #08497F;
    border-radius: 5px;
}


[data-section-content],
article {
    display: none;


    padding: 0;
    margin: 0;
}

article#home {
    padding: 100px 10px;
}

.active[data-section-content] {
    display: block;
    padding: 50px 10px 10px 10px;
    box-sizing: border-box;
    height: 90vh;
    width: 100vw;
}

button {
    border: none;
    padding: 5px;
    box-shadow: none;
    color: white;
}

button a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

footer {
    displa
}

footer span.center {
    text-align: center;
}